<!DOCTYPE html>
<html>
  <head>
    <title>PwaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# assets for pwa %>
    <%= render partial: "layouts/pwa_assets"%>
  </head>
  <body class="text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-zinc-900">
    <main class="container mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
